<!-- 
   File: index.ejs
   Name: Chihiro Hasegawa
   Student ID: 301229147
   Date: 2022/10/09 
-->

<%-include ../partials/header.ejs%>
    <%-include ../partials/main_nav.ejs%>

        <main class="container">
            <div class="row white_bg">
                <div class="col-md-offset3 col md-8">
                    <h1>
                        <%= title %>
                    </h1>
                    <% if(typeof displayName=='string' && displayName) { %>
                        <a href="/book-list/add" class="btn btn-primary" role="button">
                            <i class="fas fa-plus-circle"></i> Add a Book</a>
                        <% } %>
                            <br><br>
                            <table class="table table-bordered table-striped table-hover">
                                <tr>
                                    <th class="text-content col-2">Title</th>
                                    <th class="text-content col-2">Author</th>
                                    <th class="text-content col-1">Year of publication</th>
                                    <th class="text-content col-4">Description</th>
                                    <th class="text-content col-1">Price</th>
                                    <% if(typeof displayName=='string' && displayName) { %>
                                        <th class="text-content col-1"></th>
                                        <th class="text-content col-1"></th>
                                        <% } %>
                                </tr>
                                <% for (let count=0; count < bookList.length; count++) { %>
                                    <tr>
                                        <td class="text-center col-2">
                                            <%=bookList[count].name %>
                                        </td>
                                        <td class="text-center col-2">
                                            <%=bookList[count].author %>
                                        </td>
                                        <td class="text-center col-1">
                                            <%=bookList[count].published %>
                                        </td>
                                        <td class="text-center col-4">
                                            <%=bookList[count].description %>
                                        </td>
                                        <td class="text-center col-1">
                                            <%=bookList[count].price %>
                                        </td>
                                        <td class="text-center col-1">
                                            <a href="/bookList/edit/<%=bookList[count].id %>" class="btn btn-primary">
                                                <i class="fas fa-pencil alt">Edit</i>
                                            </a>
                                        </td>
                                        <td class="text-center col-1">
                                            <a href="/bookList/delete/<%=bookList[count].id %>" class="btn btn-danger">
                                                <i class="fas fa-trash alt">Delete</i>
                                            </a>
                                        </td>
                                    </tr>
                                    <%}%>
                            </table>
                </div>
            </div>
        </main>

        <%-include ../partials/bottom_nav.ejs%>
            <%-include ../partials/footer.ejs%>