<!-- 
   File: Services.ejs
   Name: Chihiro Hasegawa
   Student ID: 301229147
   Date: 2022/10/09 
-->

<%-include partials/header.ejs%>
   <%-include partials/main_nav.ejs%>



      <h1>
         <%= title %>
      </h1>
      <p>Kindly go through the list below:</p>
      <ul>
         <li>Web development</li>
         <li>Windows application development</li>
         <li>General programming</li>
         <li>Oracle SQL management including PL/SQL</li>
      </ul>

      <%-include partials/bottom_nav.ejs%>
         <%-include partials/footer.ejs%>