<!-- 
   File: about.ejs
   Name: Chihiro Hasegawa
   Student ID: 301229147
   Date: 2022/10/09 
-->

<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>

    <div class="container mx-auto white_bg" style="width: 600px;">
      <h1>
        <%= title %>
      </h1>
      <div class="text-center intro">
        <div class="row">
          <h4>Chihiro Hasegawa</h4>
          <div class="col">
            <p>
              My home town is Yokohama (next to Tokyo), Japan.
              I moved to Canada in 2021 and now live in Scarborough. <br>
              I have experiences as a software tester and a software engineer. <br>
              What I wish to do for now is to make my portfolio on Github better.
              I am very passionate to stady in college and eager to have experiences as a full-stack developer here in
              Canada.
              <br>
              Love to make new connections with IT people!
            </p>
          </div>
          <div class="col">
            <img src="../Assets/images/me.jpg" class="me_img" alt="">
          </div>
          <p><a href="../Assets/Resume_ChihiroHasaegawa.pdf" target="_blank">Here is my resume.</a></p>
        </div>
      </div>
    </div>

    <%-include partials/bottom_nav.ejs%>
      <%-include partials/footer.ejs%>