<!-- 
   File: BusinessContactList.ejs
   Name: Chihiro Hasegawa
   Student ID: 301229147
   Date: 2022/10/09 
-->

<%-include partials/header.ejs%>
    <%-include partials/main_nav.ejs%>

        <div class="container mx-auto white_bg" style="width: 500px;">
            <h1>
                <%= title %>
            </h1>
            <div class="text-center">
            </div>
        </div>

        <%-include partials/bottom_nav.ejs%>
            <%-include partials/footer.ejs%>