<!-- 
   File: Contact.ejs
   Name: Chihiro Hasegawa
   Student ID: 301229147
   Date: 2022/10/09 
-->

<%-include partials/header.ejs%>
   <%-include partials/main_nav.ejs%>

      <div class="container mx-auto white_bg" style="width: 500px;">
         <h1>
            <%= title %>
         </h1>
         <div class="text-center">
            <p>Please complete all the firlds below:</p>
            <div id="error_message"></div>
            <div class="form-group">
               <label for="first_name">First Name</label>
               <input type="text" name="first_name" id="first_name" class="form-control" required>
            </div>
            <div class="form-group">
               <label for="last_name">Last Name</label>
               <input type="text" name="last_name" id="last_name" class="form-control" required>
            </div>
            <div class="form-group">
               <label for="address">Address</label>
               <input type="text" name="address" id="address" class="form-control" required>
            </div>
            <div class="form-group">
               <label for="email">Email</label>
               <input type="text" name="email" id="email" class="form-control" required>
            </div>
            <div class="form-group">
               <label for="phone">Phone</label>
               <input type="number" name="phone" id="phone" class="form-control" required>
            </div>
            <div class="form-group">
               <label for="message">Message</label>
               <textarea type="text" name="message" id="message" class="form-control" required></textarea>

            </div>
            <div class="elements">
               <a class="btn btn-primary btn-block" aria-current="page" href="/home">Send</a>
            </div>
            <small>phone: 666-555-4444</small><br>
            <small>mail: 8888@gmail.com</small>
         </div>
         <%-include partials/bottom_nav.ejs%>
            <%-include partials/footer.ejs%>