<!-- 
   File: users.ejs
   Name: Chihiro Hasegawa
   Student ID: 301229147
   Date: 2022/10/09 
-->

<%-include ../partials/header.ejs%>
    <%-include ../partials/main_nav.ejs%>

        <div class="container mx-auto white_bg" style="width: 500px;">
            <h1>
                <%= title %>
            </h1>
            <!-- <a href="/bookList/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle">Add a Book</i>
            </a> -->
            <br><br>
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th class="text-content col-2">Usrname</th>
                    <th class="text-content col-2">Password</th>
                    <th class="text-content col-1">Email</th>
                    <th class="text-content col-1"></th>
                    <th class="text-content col-1"></th>
                </tr>
                <% for (let count=0; count < ContactList.length; count++) { %>
                    <tr>
                        <td class="text-center col-2">
                            <%=ContactList[count].username %>
                        </td>
                        <td class="text-center col-2">
                            <%=ContactList[count].password %>
                        </td>
                        <td class="text-center col-1">
                            <%=ContactList[count].email %>
                        </td>
                        <td class="text-center col-1">
                            <a href="/contactList/edit/<%=ContactList[count].id %>" class="btn btn-primary">
                                <i class="fas fa-pencil alt">Edit</i>
                            </a>
                        </td>
                        <td class="text-center col-1">
                            <a href="/contactList/delete/<%=ContactList[count].id %>" class="btn btn-danger">
                                <i class="fas fa-trash alt">Delete</i>
                            </a>
                        </td>
                    </tr>
                    <%}%>
            </table>
        </div>

        <%-include ../partials/bottom_nav.ejs%>
            <%-include ../partials/footer.ejs%>